@import "../../common.css";

@media (max-width: 768px) {
    img.disco-fox-gif {
        width: 80vw;
        border: 3px solid var(--p_menu);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 769px) {
    img.disco-fox-gif {
        width: 25vw;
        border: 3px solid var(--p_menu);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
}
