@import "../../common.css";


@media (max-width: 768px) {
    .card-container {
      display: flex;
      justify-content: center;
      gap: 10vw;
      margin-top: 5vw;
      flex-direction: column;
    }
  
    .card-image {
      width: 60vw;
      image-rendering: pixelated;
    }
  }
  
  @media (min-width: 769px) {
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: transform 0.3s;
      background-color: var(--p_menu);
      color: var(--p_text_i);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border: 3px solid var(--p_menu);
    }
  
    .card-image {
      width: 20vw;
      image-rendering: pixelated;
  
    }
  
    .card:hover {
  
      transform: scale(1.05);
  
    }
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vw;
  }
  
  


.tech-dump {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

.squares_gif{
    width: 25vw;
    border: 3px solid var(--p_menu);
}

.redward_cullen{
    width: 40vw;
}

.game-engines{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.game-engines-vbox{
    width: 2vw;
    justify-content: center;
    align-items: center;
   
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;

    background-color: var(--p_text_i);
    color: var(--p_text);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--p_menu);
}