@import "../../common.css";


@media (max-width: 768px) {
    .card-container {
        display: flex;
        justify-content: center;
        gap: 10vw;
        margin-top: 5vw;
        flex-direction: column;
    }

    .card-image {
        width: 60vw;
        image-rendering: pixelated;
    }
}

@media (min-width: 769px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s;
        background-color: var(--p_menu);
        color: var(--p_text_i);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border: 3px solid var(--p_menu);
    }

    .card-image {
        width: 20vw;
        image-rendering: pixelated;

    }

    .card:hover {

        transform: scale(1.05);

    }
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vw;
}




.tech-dump {
    display: flex;
    flex-direction: column;

    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}


@media (max-width: 768px) {
    .tech-dump {
        width: 90%;
    }
}

@media (min-width: 769px) {
    .tech-dump {
        width: 50%;
    }
}

.squares_gif {
    border: 3px solid var(--p_menu);
}



.game-engines {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: justify;
}

.game-engines-vbox {

    justify-content: center;
    align-items: center;

    text-align: justify;


    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;

    background-color: var(--p_text_i);
    color: var(--p_text);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--p_menu);
}


@media (max-width: 768px) {
    .game-engines-vbox {
        width: 90%;
    }

    .squares_gif {
        width: 80vw;
    }
}

@media (min-width: 769px) {
    .game-engines-vbox {
        width: 25.5vw;
    }

    .squares_gif {
        width: 25vw;
    }
}