/*
  -------------Globals-------------
*/

/*
Palette source: 
https://lospec.com/palette-list/cold-light
*/

:root {
  --p_text: #b2d5d1;
  --p_menu: #08001f;
  --p_bg: #444d84;
}


a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Delius';
  src: url('./res/fonts/Delius-Regular.ttf') format('truetype');
}

body {
  font-family: 'Delius';
  color: var(--p_text);
  background-color: var(--p_bg);
}


a:hover {
  background-color: #555;
}


/*
  ----------end-of-Globals-------------
*/

.App {
  text-align: center;
}

.Pages {
  padding-left: 1vw;
  padding-right: 1vw;
}

.menu {
  display: flex;
  background-color: var(--p_menu);
  color: var(--p_text);
  gap: 1vw;
  justify-content: center;
}

.menu-item {
  display: flex;
}

.menu-item a {
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

@media (max-width: 768px) {
  .card-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vw;
    flex-direction: column;
  }

  .card-image {
    width: 60vw;
    image-rendering: pixelated;
  }
}

@media (min-width: 769px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s;
    background-color: var(--p_text);
    color: var(--p_menu)
  }

  .card-image {
    width: 20vw;
    image-rendering: pixelated;

  }

  .card:hover {
    
    transform: scale(1.3);
  }
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-top: 5vw;
}


.footer {
  background-color: var(--p_menu);
  color: var(--p_text);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}