@import "common.css";


.App {
  text-align: center;
}

.Pages {
  padding-left: 1vw;
  padding-right: 1vw;
}

.menu {
  display: flex;
  /*
 background-color: var(--p_menu);
 color: var(--p_text_i);
  */
  
  color: var(--p_text);
  
  gap: 1vw;
  justify-content: center;
}

.menu-item {
  display: flex;
}
.menu-item a {
  font-size: 1.5rem;
  padding: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  transition: text-decoration 0.3s;
  text-decoration: none;
  text-underline-offset: 10px;
}

.menu-item.active a {
  text-decoration: underline;
}

.menu-item a:hover {
  text-decoration: underline;
}


.footer {
  background-color: var(--p_text_i);
  color: var(--p_text);
  padding: 10px;
  position: fixed;
  bottom: 0;
  font-size: 0.5rem;
  width: 100%;
}